.idCard {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 5px;
}

.idPicture{
  padding: 5px
}
.idText{
  display: flex;
  flex-direction: column;
}
.idText p {
  padding: 0;
  margin: 0;
}